<div class="container">
  <div class="row">
    <div class="col-sm-12 headline">
      <h1>Steven Goodstein</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <div class="pinstripe-left"></div>
    </div>
    <div class="col-sm-10">
      <nav>
        {{link-to 'Home' 'index'}}
        {{link-to 'Work' 'work' }}
        {{link-to 'About' 'about' }}
        {{link-to 'Contact' 'contact' }}
      </nav>
    </div>
    <div class="col-sm-1">
      <div class="pinstripe-right"></div>
    </div>
  </div>

  <div class="row">
    {{outlet}}
  </div>

</div>
